# Canopy Technical Test

You are given 3 PDF files:
    
    BOS
    JB
    UBS

In [45]:
import os
import pandas as pd
import numpy as np

# Your task

Write Python code which extracts only tables labeled as Transactions from each of the PDFs into excel

    In JBS, there is no "Transactions" label, but it is labelled as "Booking Details" instead

### Given Files to test with

In [46]:
os.listdir('data')

['Bos.pdf', 'UBS.pdf', 'JBS.pdf']

## Table Extraction Details

On extracting table data, some of the headers are stacked. Your task is to extract the tabular data into a flattened form

### Example Raw form

In [7]:
example_df = pd.DataFrame(data={"Description":["Narrative","ADANI ABBOT PT 4.45 151222 JD REGS","- 082537-000","SECURITY PURCHASE","AFRICAN EXPORT-IMPORT 4 240521","MN - 062769-000","SECURITY PURCHASE" ], "Ccy":[np.nan, "USD", np.nan, np.nan, "USD", np.nan, np.nan],"Trade Date":["Value Date", "09 Feb 2018", np.nan, "13 Feb 2018","09 Feb 2018", np.nan,"13 Feb 2018" ], "Quantity/Nominal":[np.nan,"60,000.00", np.nan, np.nan, "120,000.00", np.nan, np.nan ], "Reference Number":[np.nan, "SCTRSC1804300277",np.nan, np.nan,"SCTRSC1804001529", np.nan,np.nan ]
                               
                               })

#### Example nested headers format

In [8]:
example_df

,Ccy,Description,Quantity/Nominal,Reference Number,Trade Date
0,NaN,Narrative,NaN,NaN,Value Date
1,USD,ADANI ABBOT PT 4.45 151222 JD REGS,"60,000.00",SCTRSC1804300277,09 Feb 2018
2,NaN,- 082537-000,NaN,NaN,NaN
3,NaN,SECURITY PURCHASE,NaN,NaN,13 Feb 2018
4,USD,AFRICAN EXPORT-IMPORT 4 240521,"120,000.00",SCTRSC1804001529,09 Feb 2018
5,NaN,MN - 062769-000,NaN,NaN,NaN
6,NaN,SECURITY PURCHASE,NaN,NaN,13 Feb 2018

## Expected output *format*

    Note that some cells were divided across multiple rows even though they belonged to the same header, now they are combined. See cell 1 and 2 as example in raw format and how they've combined in the expected output

In [24]:
example_output_df = pd.DataFrame(data={"Narrative":["SECURITY PURCHASE", "SECURITY PURCHASE"],"Description":["ADANI ABBOT PT 4.45 151222 JD REGS - 082537-000","AFRICAN EXPORT-IMPORT 4 240521 MN - 062769-000"], "Ccy":["USD","USD"],"Value Date":["13 Feb 2018", "13 Feb 2018"],"Trade Date":["09 Feb 2018","09 Feb 2018"], "Quantity/Nominal":["60,000.00", "120,000.00" ], "Reference Number":["SCTRSC1804300277","SCTRSC1804001529"]
                               
                               })

In [10]:
example_output_df

,Ccy,Description,Narrative,Quantity/Nominal,Reference Number,Trade Date,Value Date
0,USD,ADANI ABBOT PT 4.45 151222 JD REGS - 082537-000,SECURITY PURCHASE,"60,000.00",SCTRSC1804300277,09 Feb 2018,13 Feb 2018
1,USD,AFRICAN EXPORT-IMPORT 4 240521 MN - 062769-000,SECURITY PURCHASE,"120,000.00",SCTRSC1804001529,09 Feb 2018,13 Feb 2018

## Generic Code

Your code is expected to be generic and can be applied to solve all three PDFs and extract nested/multidimensional tabular data

## Post Processing data
    
    Your code is expected to process cells which are dates / currency into appropriate machine readable and analytical forms

### Example expected clean df

In [40]:
example_cleaner_df = pd.DataFrame(data={'Ccy': {0: 'USD', 1: 'USD'},
 'Description': {0: 'ADANI ABBOT PT 4.45 151222 JD REGS - 082537-000',
  1: 'AFRICAN EXPORT-IMPORT 4 240521 MN - 062769-000'},
 'Narrative': {0: 'SECURITY PURCHASE', 1: 'SECURITY PURCHASE'},
 'Quantity/Nominal': {0: 60000.0, 1: 120000.0},
 'Reference Number': {0: 'SCTRSC1804300277', 1: 'SCTRSC1804001529'},
 'Trade Date': {0: '02/09/2018', 1: '02/09/2018'},
 'Value Date': {0: '13/02/2018', 1: '13/02/2018'}})

In [41]:
example_cleaner_df

,Ccy,Description,Narrative,Quantity/Nominal,Reference Number,Trade Date,Value Date
0,USD,ADANI ABBOT PT 4.45 151222 JD REGS - 082537-000,SECURITY PURCHASE,60000.0,SCTRSC1804300277,02/09/2018,13/02/2018
1,USD,AFRICAN EXPORT-IMPORT 4 240521 MN - 062769-000,SECURITY PURCHASE,120000.0,SCTRSC1804001529,02/09/2018,13/02/2018